.h-header{
  height: 100vh;
  
  background: url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  
  &__hero{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-top: 25px;
    @include breakpoint(tablet){
      padding-top: 0;
    }
  }
  
  &__navbar-social{
    display: none;
    @include breakpoint(tablet){
      display: flex;
      flex-basis: 45px;
      background: $coal;
    }
  }
  
  &__navbar-main{
    flex-basis: 70px;
    background-color: $darkGrey;
    @include breakpoint(landscape){
      flex-basis: 50px;
    }
    @include breakpoint(tablet){
      flex-basis: 50px;
    }
  }
}