.h-padded-section{
  padding: 50px 0;
  @include breakpoint(tablet){
    padding: 100px 0;
  }
  
  &__small{
    padding: 45px 0;
  }

  &__light-grey{
    background-color: $lightGrey;
  }
}

.h-bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  &__passion{
    background-image: url(../images/passion-bg.jpg);
  }
}