$turquoise: #14c3dc; // used for headings' highlights and buttons
$coal: #272727; // used for bg - top nav and footer
$darkGrey: #121212; // header-bg
$grey: #787878; // text
$lightGrey: #f8f8f8; // bg for some sections and text in footer
$brandBorder: #8a888b; // borders in brands module
$progressBar: #dddddd; // empty progress bar colour
$softRed: #e28573; // used for img bg and some icons bg