.hero-content{
  text-align: center;
  
  &__heading{
    margin-bottom: 50px;
    position: relative;
    @include breakpoint(landscape){
      margin-bottom: 35px;
    }
    @include breakpoint(tablet){
      margin-bottom: 60px;
    }
    
    &::after{
      content: '';
      height: 2px;
      width: 100px;
      
      background-color: $turquoise;
      position: absolute;
      bottom: -20px;
      @include horizontal-align(absolute);
      @include breakpoint(landscape){
        bottom: -15px;
      }
      @include breakpoint(tablet){
        bottom: -35px;
      }
    }
    
    .heading-highlight{
      color: $turquoise;
    }
  }
  
  &__text{
    font-size: 1.62em;
    font-family: 'droidSerif', serif;
    line-height: 1.5em;
    
    width: 90%;
    margin: 0 auto 30px;
    color: white;
    
    @include breakpoint(landscape){
      font-size: 1.42em;
      margin: 0 auto 20px;
    }
    @include breakpoint(tablet){
      font-size: 1.8em;
      margin: 0 auto 40px;
    }
  }
  
  &__btns > a{
    margin: 5px;
    @include breakpoint(tablet){
      margin: 0 5px;
    }
  }
}

.navbar-flex{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;
  
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  @include breakpoint(landscape){
    max-width: 960px;
  }
}

.main-nav{
  display: none;
  @include breakpoint(tablet){
    display: flex;
    position: sticky;
    top: 0;
  }
  
  &__link{
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
    
    & > a{
      transition: 0.2s;
      &:hover{
        color: $turquoise;
      }
    }
  }
}