.panel{
  &__heading{
    margin-bottom: 20px;
    
    position: relative;
    @include breakpoint(tablet){
      margin-bottom: 35px;
    }
    
    &__with-lodash{
      margin-bottom: 40px;
      @include breakpoint(tablet){
        margin-bottom: 65px;
      }
      
      &::after{
        content: '';
        width: 35px;
        height: 3px;
        background-color: black;
        
        position: absolute;
        bottom: -15px;
        left: 0;
        @include breakpoint(tablet){
          bottom: -25px;
        }
      }
    }
    
    &__large{
      font-size: 2.52em;
      @include breakpoint(tablet){
        font-size: 3.6em;
      }
    }
  }
  
  &__text{
    margin-bottom: 30px;
    
    &__large{
      font-size: 1.44em;
      @include breakpoint(tablet){
        font-size: 1.6em;
      }
    }
  }
  
  &__image{
    box-shadow: 14px 14px 1px $softRed;
    
    width: 95%;
    margin-top: 50px;
    @include breakpoint(landscape){
      width: auto;
      max-width: 100%;
    }
    @include breakpoint(tablet){
      @include transform(translateY(-40px));
      margin-top: 0;
    }

    @include breakpoint(desktop){
      margin-top: 50px;
    }
    
    &__no-shadow{
      box-shadow: none;
    }
  }
  
  &__white{
    color: white;
    p{
      color: white;
    }
  }
  
  &__center{
    text-align: center;
  }
  
  .heading-highlight{
    color: $turquoise;
  }
}

.seperator{
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  @include breakpoint(tablet){
    margin-bottom: 45px;
  }
  
  &::before{
    content: '';
    position: absolute;
    left: -80px;
    bottom: 8px;
    
    width: 70px;
    height: 1px;
    background-color: black;
  }
  
  &__white::before{
    background-color: white;
  }
  
  &::after{
    content: '';
    position: absolute;
    right: -80px;
    bottom: 8px;
    
    width: 70px;
    height: 1px;
    background-color: black;
  }
  
  &__white::after{
    background-color: white;
  }
}

.interlude{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  &__icon{
    color: white;
    font-size: 2.8em;
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
  }

  &__content{
    width: 70%;
    margin-bottom: 10px;
    @include breakpoint(desktop){
      margin-bottom: 0;
    }
  }

  &__heading{
    font-size: 1.62em;
    color: white;
    font-weight: 700;
    margin-bottom: 5px;
    @include breakpoint(tablet){
      font-size: 1.8em;
    }
  }

  &__text{
    color: white;
  }
}

.model{
  width: 100%;
  @include transform(translateY(1px));
  @include breakpoint(landscape){
    width: auto;
  }
  @include breakpoint(tablet){
    width: 100%;
  }
  @include breakpoint(desktop){
    @include transform(translateY(2px));
  }
}