.tile{
  position: relative;
  margin-top: 70px;
  margin-bottom: 35px;

  @include breakpoint(tablet){
    margin-bottom: 50px;
  }
  
  &__padded-left{
    margin-top: 0;
    padding-left: 55px;
  }
  
  &__icon{
    position: absolute;
    top: -70px;
    &__on-left-side{
      position: absolute;
      top: -5px;
      left: 15px;
      @include breakpoint(tablet){
        left: 0;
      }
    }
  }
  
  &__heading{
    margin-bottom: 20px;
    @include breakpoint(tablet){
      margin-bottom: 30px;
    }
  }
}

.fact{
  text-align: center;
  margin-bottom: 50px;
  @include breakpoint(tablet){
    margin-bottom: 0;
  }

  &:nth-last-of-type(-n+2){
    margin-bottom: 0;
  }

  &__icon{
    font-size: 4em;
    color: $grey;
    margin-bottom: 15px;
    @include breakpoint(tablet){
      margin-bottom: 25px;
    }
  }

  &__number{
    font-weight: 900;
    font-size: 2.8em;
    color: white;
    margin-bottom: 10px;
    @include breakpoint(tablet){
      font-size: 4em;
    }
  }

  &__heading{
    color: $grey;
  }
}

.packet{
  text-align: center;
  background-color: white;
  padding: 40px 0 60px;
  margin-bottom: 50px;

  @include breakpoint(landscape){
    max-width: 60%;
    margin: 0 auto 50px;
  }
  @include breakpoint(tablet){
    margin-bottom: 0;
    max-width: none;
  }

  &__top{
    border-bottom: 1px solid $lightGrey;
    padding-bottom: 40px;
  }

  &__price{
    font-size: 4em;
    font-weight: 900;
    color: black;
    position: relative;
    display: inline-block;
  }

  &__title{
    font-size: 1.3em;
    letter-spacing: 3px;
  }

  &__features{
    margin: 40px 0;
  }

  &__feature{
    line-height: 2em;
  }
}

.index-top{
  font-size: 1rem;
  position: absolute;
  left: -10px;
  top: -7px;
}